:root {
    --slider-color: white;

    --thumb-width: 0.4em;
    --thumb-height: 105%;
    --thumb-border-radius: 1px;
    --slider-height: 20px;
}

.rubik-font {
            font-family: "Rubik", sans-serif;
        }

body {
    background-color: whitesmoke;
    font-family: "Rubik", "sans-serif";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

#hex-display {
    font-family: "Rubik", sans-serif; /* Use mono font like inputs */
    font-size: 3rem; /* Large text */
    font-weight: 500;
    color: #333;
}

#interface {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em; /* Original gap between wheel and sliders */
}

#color-wheel-container {
    width: 250px;
    aspect-ratio: 1 / 1;
    position: relative;
}

#color-wheel {
    width: 100%;
    aspect-ratio: 1 / 1;
    touch-action: none;
    filter: drop-shadow(0 0 1em #bbb);
}

#cursor {
    width: 7px;
    aspect-ratio: 1 / 1;
    border: 1px solid white;
    outline: 1px solid black;
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    animation-duration: 4s;
}

.sliders {
    background: #ffffff;
    box-shadow: 0 0 1em lightgray;
    width: auto;
    border-radius: 1em;
    padding: 1rem;
}

.slider-group {
    display: flex;
    align-items: center;
    gap: 0.5em;
    width: 100%;
    margin-block: 1em;
}

label {
    text-align: center;
    width: 2em;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: var(--slider-height); /* Rectangular slider height */
    background: linear-gradient(to right, black, var(--slider-color));
    border-radius: 3px;
    z-index: 1;
}



.slider::-webkit-slider-thumb {
    appearance: none;
    width: var(--thumb-width);
    height: var(--thumb-height);
    background: transparent;
    outline: 1px solid black;
    border: 1px solid white;
    border-radius: var(--thumb-border-radius);
}

.slider::-moz-range-thumb {
    width: var(--thumb-width);
    height: var(--thumb-height);
    background: transparent;
    outline: 1px solid black;
    border: 1px solid white;
    border-radius: var(--thumb-border-radius);
}

.number-input {
    font-family: "JetBrains Mono", sans-serif;
    width: 4em;
    padding: 0.3em;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: right;
}



.slider-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: var(--slider-height);
}

#value-slider-bg-canvas {
    position: absolute;
    top: 0;
    left: 2px;
    width: calc(100% - 4px);
    height: 100%;
    border-radius: 3px;
    pointer-events: none;

}

#value-slider {
    background: none;
}