:root {
    --slider-color: white;

    --thumb-width: 0.4em;
    --thumb-height: 23px;
    --thumb-border-radius: 1px;
    --slider-height: 20px;
}

a {
    color: #0076ff;
    text-decoration: none;
}
a:hover {
    color: #0054ba;
}

body {
    background-color: whitesmoke;
    font-family: "Rubik", "sans-serif";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

#content-text {
    padding: 3rem;
    width: 30em;
    font-size: large;
    color: #333;
}

#hex-container {
    background: #ffffff;
    box-shadow: 0 0 1em lightgray;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1em;
    transition: background-color 0.5s ease;
    margin: 2rem;
}

#hex-display {
    font-family: "Jetbrain Mono", monospace; /* Use mono font like inputs */
    font-size: 3rem;
    color: #333;
    text-align: center;
    line-height: 1rem;
}

#interface {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

#color-wheel-container {
    width: auto;
    aspect-ratio: 1 / 1;
    position: relative;
}

#color-wheel {
    width: 100%;
    aspect-ratio: 1 / 1;
    touch-action: none;
    filter: drop-shadow(0 0 1em #bbb);
}

#cursor {
    width: 7px;
    aspect-ratio: 1 / 1;
    border: 1px solid white;
    outline: 1px solid black;
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    animation-duration: 4s;
}

.sliders {
    background: #ffffff;
    box-shadow: 0 0 1em lightgray;
    width: auto;
    border-radius: 1em;
    padding: 1rem;
}

.slider-group {
    display: flex;
    align-items: center;
    gap: 0.5em;
    width: 100%;
    margin-block: 1em;
}

label {
    text-align: center;
    width: 2em;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: var(--slider-height);
    background: linear-gradient(to left, #ffffff, var(--slider-color));
    border-radius: 3px;
    z-index: 1;
}



.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    width: var(--thumb-width);
    height: var(--thumb-height);
    background: transparent;
    outline: 1px solid black;
    border: 1px solid white;
    border-radius: var(--thumb-border-radius);
}

.slider::-moz-range-thumb {
    width: var(--thumb-width);
    height: var(--thumb-height);
    background: transparent;
    outline: 1px solid black;
    border: 1px solid white;
    border-radius: var(--thumb-border-radius);
}

.number-input {
    font-family: "Jetbrain Mono", monospace;
    width: 4em;
    padding: 0.3em;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: right;
}

.slider-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: var(--slider-height);
}

#value-slider-bg-canvas {
    position: absolute;
    top: 0;
    left: 2px;
    width: calc(100% - 4px);
    height: 100%;
    border-radius: 3px;
    pointer-events: none;

}

#value-slider {
    background: none;
}


.formula-box {
    color: #333;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.variable {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.coef-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.95rem;
}

.coef-table th {
    text-align: left;
    background-color: #eaeaea;
    padding: 12px;
    border-bottom: 2px solid #ccc;
    font-weight: 600;
}

.coef-table td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace; /* Monospace for numbers */
}
