:root {
    --slider-color: white;
}

body {
    background: #ebebeb;
}

#color-wheel-container {
    width: 250px;
    aspect-ratio: 1 / 1;
    position: relative;
}

#color-wheel {
    width: 100%;
    aspect-ratio: 1 / 1;
    touch-action: none;
}

#cursor {
    width: 7px;
    aspect-ratio: 1 / 1;
    border: 1px solid white;
    outline: 1px solid black;
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    animation-duration: 4s;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.slider-container {
    width: 100%;
    max-width: 500px;
}

.sliders {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px; /* Rectangular slider height */
    background: linear-gradient(to right, var(--slider-color), white);
    border-radius: 5px;
    outline: none;
    transition: opacity .2s;
}

/* Thumb for WebKit browsers (Chrome, Safari, Edge) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; /* Thumb width */
    height: 20px; /* Thumb height */
    background: transparent;
    border: 1px solid #000000; /* Black outline */
    border-radius: 50%; /* Make it a circle */
    cursor: pointer;
}

/* Thumb for Firefox */
.slider::-moz-range-thumb {
    width: 10px;
    height: 25px;
    background: transparent;
    border: 1px solid black;
    outline: 1px solid white;
    border-radius: 10%;
    cursor: pointer;
}

input[type="range"] {
    width: 150px;
}