#cursor {
    width: 10px;
    height: 10px;
    border: 1px solid white;
    outline: 1px solid black;
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    animation-duration: 4s;
}

#color-wheel {
    width: 100%;
    height: 100%;
}

#color-picker-container {
    width: 250px;
    height: 250px;
    position: relative;
}

body {
    background: #365c62;

}